body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("Virumgym.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }


  section.hero-section {
    text-align: center;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.7);
  }

  section.hero-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  section.hero-section p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  a.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  footer {
    text-align: center;
    padding: 20px 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
  }
  
  nav ul li a:hover {
    color: #555;
  }
  